@{
    @using System.Security.Claims;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - No9Gallery</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/Header/Header.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>

    <style type="text/css">
        * {
            background: #FAFAFA;
            font: Google Sans;
            color: #112D4E;
        }

    
    </style>
    <script src="~/js/jquery-3.4.1.js">
        @{ var search_value="";}
        $(document).ready(function () {
            $("input.search-btn").click(function () {
                @search_value = $("input.search-box").val();
            });
        });
    </script>
</head>
<body>
    <header class="页眉">
        <nav class="导航栏">
            <ul id="menu" style="list-style:none;">
                <li style="position: absolute;left: 360px;top: 10px;font-size:20px;">
                    <a asp-area="" asp-controller="Home" asp-action="Index">No9Gallery</a>
                </li>

                <li style="position: absolute;left: 520px;top: 0px;">
                    <a asp-area="" asp-controller="Home" asp-action="Classification"><img src="~/image/Header/Classification.png" /></a>
                </li>
                <li style="position: absolute;left: 660px;top: 0px;">
                    <a asp-area="" asp-controller="Home" asp-action="Follow"><img src="~/image/Header/Follow.png" /></a>
                </li>

            </ul>
            <style type="text/css">
                #menu li a.last {
                    border-right: 0; /* 去掉左侧边框 */
                }
            </style>
            <form  action="" class="parent">
                <input style="position: absolute;left: 1200px;top: 10px;"type="text" class="search-box" placeholder="Search">
                <input style="position: absolute;left: 1440px;top: 20px;" type="button" name="" id="" class="search-btn" asp-controller="Home" asp-action="Search" asp-route-id="">
            </form>
            @{
                //
                //需要获取用户ID
                //

                //当用户未登录
                if (User.Identity.Name == null)
                {
                    
                <a style="position: absolute;left: 1500px;top: 10px;" asp-controller="Login" asp-action="Welcome">
                    <div class="avatarBox">
                        <img src="~/image/avatar/null.png" class="avatar" />
                    </div>
                </a>

                }
                //当用户已经登录
                else
                { 
                    <a style="position: absolute;left: 1500px;top: 10px;" asp-controller="PersonInfo" asp-action="Index" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">
                        <div class="avatarBox">
                            <img src="~/image/avatar/@User.Claims.SingleOrDefault(sa => sa.Type == "Avatar").Value" class="avatar" />
                        </div>
                    </a>
                    
                }
              }

            </nav>
    </header>
    <div >
        <partial name="_CookieConsentPartial" />
        <main>            
            @RenderBody()
        </main>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
