
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

@model LoginUser

<!DOCTYPE html>
<html>
<head>
    <title>系统登录</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SignInOrSignUp/Login.css" />
</head>
<body>
    <div>
        <img src="~/image/SignInOrSignUp/WelcomeLogin.png" style="position:absolute; left:840px; top: 120px" />
        <div class="LoginTitle" style="position:absolute; top:285px; left:540px">
            <span>Sign In</span>
        </div>
        <div class="login-box-body">
            <form asp-controller="Login" asp-action="Index" method="post">
                <span class="text-danger" style="position:absolute; top:370px; left:540px">@ViewBag.ErrorInfo</span>
                <div class="form-group has-feedback">
                    <input asp-for="ID" type="text" class="form-control" style="position:absolute; left:540px; top: 400px; width: 300px" placeholder="User_ID">
                    <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
                    <span asp-validation-for="ID" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    <input asp-for="Password" type="password" class="form-control" style="position:absolute; left:540px; top: 450px; width: 300px" placeholder="Password">
                    <!-- <span class="glyphicon glyphicon-lock form-control-feedback"></span> -->
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" style="position:absolute; left:540px; top: 525px; width: 120px">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/icheck/icheck.js"></script>
    <script>$(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });</script>
</body>
</html>



