@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@model SignUpUser

<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SignInOrSignUp/SignUp.css" />
</head>

<body>
    <div>
        <div class="SignUpTitle" style="position:absolute; top:180px; left:780px">
            <span>Sign Up</span>
        </div>
        <div class="login-box-body">
            <form asp-controller="SignUp" asp-action="Index" method="post">
                <span class="text-danger" style="position:absolute; top:270px; left:780px">@ViewBag.ErrorInfo</span>
                <div class="form-group has-feedback">
                    <input asp-for="ID" type="text" class="form-control" style="position:absolute; left:780px; top: 300px; width: 360px" placeholder="YourID">
                    <span asp-validation-for="ID" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    <input asp-for="Name" type="text" class="form-control" style="position:absolute; left:780px; top: 360px; width: 360px" placeholder="YourName">
                </div>
                <div class="form-group has-feedback">
                    <input asp-for="Password" type="password" class="form-control" style="position:absolute; left:780px; top: 420px; width: 360px" placeholder="Password">
                </div>
                <div class="form-group has-feedback">
                    <input asp-for="CheckPassword" type="password" class="form-control" style="position:absolute; left:780px; top: 480px; width: 360px" placeholder="RepeatPassword">
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" style="position:absolute; left:780px; top: 570px; width: 120px">Sign Up</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/icheck/icheck.js"></script>
    <script>$(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });</script>

</body>

</html>