@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     Layout = null;
}

<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="~/css/SignInOrSignUp/Welcome.css">
</head>

<body>
    <img src="~/image/SignInOrSignUp/Welcome.png" style="position:fixed; top:0px; left :560px; height: 635px" />
    <span class="title" style="position:fixed; top:540px; left:681px;">Welcome To No.9 Gallery</span>
    <div>
        <a asp-action="Index"><span class="SignInOrSignUp" style="position:fixed; top:614px; left: 890px">Sign In</span></a>
        <a asp-action="SignUp"><span class="SignInOrSignUp" style="position:fixed; top:614px; left: 975px">Sign Up</span></a>
</div>
</body>




</html>
